<li class="nav-item">
    <a href="{% url 'administracao:home' %}" class="nav-link">
        <i class="fas fa-fw fa-home"></i> Início
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'administracao:pessoas_lista' %}" class="nav-link">
        <i class="fas fa-fw fa-users"></i> Pessoas
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'administracao:usuarios_lista' %}" class="nav-link">
        <i class="fas fa-fw fa-user-cog"></i> Usuários
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'administracao:fornecedores_lista' %}" class="nav-link">
        <i class="fas fa-fw fa-truck"></i> Fornecedores
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'administracao:cargos_lista' %}" class="nav-link">
        <i class="fas fa-fw fa-briefcase"></i> Cargos
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'administracao:turnos_lista' %}" class="nav-link">
        <i class="fas fa-fw fa-clock"></i> Turnos
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'administracao:colaboradores_lista' %}" class="nav-link">
        <i class="fas fa-fw fa-user-tie"></i> Colaboradores
    </a>
</li>
<hr class="my-3">
<li class="nav-item">
    <a href="#" class="nav-link" 
       data-bs-toggle="modal" 
       data-bs-target="#modalAlterarSenha"
       hx-get="{% url 'alterar_senha_form' %}"
       hx-target="#modalAlterarSenhaBody"
       hx-swap="innerHTML">
        <i class="fas fa-fw fa-key"></i> Alterar Senha
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalLogout">
        <i class="fas fa-fw fa-sign-out-alt"></i> Sair
    </a>
</li>
