<!-- Menu da Área Operacional -->
<li class="nav-item">
    <a href="{% url 'operacional:home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}text-warning{% else %}text-light{% endif %}">
        <i class="fa-solid fa-house"></i>
        <span class="ms-2">Início</span>
    </a>
</li>

<li class="nav-item mt-3">
    <small class="text-white-50 ms-3">TURISMO</small>
</li>

<li class="nav-item">
    <a href="{% url 'operacional:caravanas_lista' %}" class="nav-link {% if 'caravana' in request.resolver_match.url_name %}text-warning{% else %}text-light{% endif %}">
        <i class="fas fa-bus"></i>
        <span class="ms-2">Caravanas</span>
    </a>
</li>