// Cores do projeto
$primary: #d3a156; // Cor do texto do logo
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

@import "bootstrap/scss/bootstrap";

// Classe utilitária para posicionar elementos no canto inferior direito
.fixed-br {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1050;
}

aside#aside {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1050;
}

main#main {
    padding-left: 250px;
}

@media(max-width: 992px) {
    aside#aside {
        display: none;
    }
    main#main {
        padding-left: 0;
    }
}
