// Cores do projeto
$primary: #d3a156; // Cor do texto do logo
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

@import "bootstrap/scss/bootstrap";
