{% load static %}
<!DOCTYPE html>
<html lang="pt-br"{% if hide_padding %} class="h-100"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grupo ROM{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'app.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body{% if hide_padding %} class="h-100"{% endif %}>
    {% include 'includes/aside.html' %}
    <main id="main"{% if hide_padding %} class="h-100 d-flex flex-column"{% endif %}>
        {% include 'includes/navbar.html' %}
        <div class="{% if not hide_padding %}p-3{% endif %}{% if hide_padding %} flex-fill{% endif %}">
            {% if not hide_messages %}
                {% include 'includes/messages.html' %}
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
    </main>
    {% include 'includes/offcanvas.html' %}
    
    <!-- Modal de Logout -->
    {% include 'includes/modal_logout.html' %}
    
    <!-- Modal de Alterar Senha -->
    {% include 'includes/modal_alterar_senha.html' %}
    
    <!-- Modal de Áreas -->
    {% include 'includes/modal_areas.html' %}
    
    <!-- Modals -->
    {% block modals %}{% endblock %}
    
    <script src="{% static 'app.js' %}"></script>
    
    <!-- Configuração HTMX para CSRF -->
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
    
    <!-- Scripts extras -->
    {% block extra_js %}{% endblock %}
</body>
</html>
