{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grupo ROM{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'app.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'includes/aside.html' %}
    <main id="main">
        {% include 'includes/navbar.html' %}
        <div class="p-3">
            {% include 'includes/messages.html' %}
            {% block content %}{% endblock content %}
        </div>
    </main>
    {% include 'includes/offcanvas.html' %}
    
    <!-- Modal de Logout -->
    {% include 'includes/modal_logout.html' %}
    
    <!-- Modal de Alterar Senha -->
    {% include 'includes/modal_alterar_senha.html' %}
    
    <!-- Modals -->
    {% block modals %}{% endblock %}
    
    <script src="{% static 'app.js' %}"></script>
    
    <!-- Scripts extras -->
    {% block extra_js %}{% endblock %}
</body>
</html>
